:root {
    --border-person-box: 10px;
    --padding-person-box: 1rem 1.5rem 1.5rem 1.5rem;
    --light-grayish-blue: hsl(210, 46%, 95%);
    --light-grayish-blue-opacity: hsla(210, 46%, 95%, 0.5);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
  }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 200;
}

html, body {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-rows: 270px 270px;
    grid-template-columns: 240px 240px 240px 240px;
    gap: 28px;
    margin: 14vh 10vw 14vh 10vw;
    font-size: 13px;
    justify-items: center;
    align-items: stretch;
    justify-content: center;
}

.person1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    background-color: hsl(263, 55%, 52%);
    border-radius: var(--border-person-box);
    padding: var(--padding-person-box);
    color: var(--light-grayish-blue);
}

.person2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    background-color: hsl(217, 19%, 35%);
    border-radius: var(--border-person-box);
    padding: var(--padding-person-box);
    color: var(--light-grayish-blue);
}

.person3 {
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: hsl(0, 0%, 100%);
    border-radius: var(--border-person-box);
    padding: var(--padding-person-box);
    color: var(--very-dark-grayish-blue);
}

.person4 {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: hsl(0, 0%, 100%);
    border-radius: var(--border-person-box);
    padding: var(--padding-person-box);
    color: var(--very-dark-grayish-blue);
}

.person5 {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: hsl(219, 29%, 14%);
    border-radius: var(--border-person-box);
    padding: var(--padding-person-box);
    color: var(--light-grayish-blue);
}

img {
    border-radius: 50px;
    border-color: var(--light-grayish-blue-opacity);
    border-width: 2px;
    border-style: solid;
    width: 40px;
}

.container__person {
    display: flex;
    align-items: center;
}

.container__person--data {
    padding: 0rem 1rem 1rem 0rem;
}

.container__person--name {
    font-weight: 500;
    padding: 0rem 0rem 0.3rem 0rem;
}

.container__person--status--1--2--5 {
    color: var(--light-grayish-blue);
    opacity: 0.5
}

.container__person--status--3--4 {
    color: var(--very-dark-grayish-blue);
    opacity: 0.5;
}

.container__boldText {
    font-weight: 600;
    padding: 0rem 0rem 1rem 0rem;
    font-size: 1.2rem;
}

.container__text--1--2--5 {
    color: var(--light-grayish-blue);
    opacity: 0.7;
}

.container__text--3--4 {
    color: var(--very-dark-grayish-blue);
    opacity: 0.7;
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
    .container {
        display: block;
    }
    .person1, .person2, .person3, .person4 {
        margin: 0rem 0rem 1.5rem 0rem;
    }
  }